.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 385px;
  margin: 0 auto;
}

.form__fieldset {
  max-width: 385px;
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
}
